    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">
          <img alt="Brand" src="../../images/AB_White_icon.png">
      </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-click="layoutController.tabSelect('home')" class="{{layoutController.homeActive}}">
                        <a ui-sref="app.home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                    </li>
                    <li ng-click="layoutController.tabSelect('contact')" class="{{layoutController.contactActive}}">
                        <a ui-sref="app.contact"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About Us</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cabinets</a></li>
                            <li><a href="#">Doors</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li ng-click="layoutController.tabSelect('contact')" class="{{layoutController.contactActive}}">
                        <a ui-sref="app.contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact Us</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="container">
        <ui-view>Layout</ui-view>
    </div>
