//Navbar
@bgDefault: #01579B;
@bgHighlight : #0288D1;
@colDefault : rgba(255, 255, 255, 0.87);
@colHighlight : #fff;
@dropDown : true;
.carousel-inner > .item > img {
    margin: 0 auto;
    height: 500px;
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    border-top: 1px solid #eee;
    text-align: center;
}
body {
    padding-bottom: 70px;
}
label {
    //color: @bgHighlight;
}
.carousel {}
.btn-primary {
    background-color: @bgDefault;
}
.navbar-brand {
    padding-top: 5px;
}
.navbar {
    margin-bottom: 15px;
}
.ddm() when (@dropDown) {
    > li > .dropdown-menu {
        background-color: @bgDefault;
        > li {
            > a {
                color: @colDefault;
                &:hover,
                &:focus {
                    color: @colHighlight;
                    background-color: @bgHighlight;
                }
            }
            > .divider {
                background-color: @bgHighlight;
            }
        }
    }
    .open .dropdown-menu > .active {
        > a,
        > a:hover,
        > a:focus {
            color: @colHighlight;
            background-color: @bgHighlight;
        }
    }
}
.navbar-default {
    background-color: @bgDefault;
    border-color: @bgDefault;
    .navbar-brand {
        color: @colDefault;
        &:hover,
        &:focus {
            color: @colHighlight;
        }
    }
    .navbar-text {
        color: @colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: @colDefault;
                &:hover,
                &:focus {
                    color: @colHighlight;
                }
            }
        }
        .ddm;
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
        > .open {
            > a,
            > a:hover,
            > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: @bgDefault;
        &:hover,
        &:focus {
            background-color: @bgDefault;
        }
        .icon-bar {
            background-color: @colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: @bgDefault;
    }
    .navbar-link {
        color: @colDefault;
        &:hover {
            color: @colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .carousel-inner > .item > img {
        margin: 0 auto;
        height: 200px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: @colDefault;
            &:hover,
            &:focus {
                color: @colHighlight;
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: @colHighlight;
                background-color: @bgHighlight;
            }
        }
    }
    .footer {
        display: none;
        visibility: hidden;
    }
}
